astroid
autopep8
certifi
chardet
colorama
defusedxml
Django
django-allauth
idna
isort
lazy-object-proxy
mccabe
oauthlib
Pillow
pycodestyle
pylint
python3-openid
pytz
pyusb
requests
requests-oauthlib
six
sqlparse
starkbank-ecdsa
typed-ast
urllib3
wrapt
